extends layout
block content

    div.container-fluid
        div.row
            form.col-md-8(method='post', id="form")

                div.page-header
                    h3 Create your fantasy character!
                div.info
                    div.input-group
                        span#race.input-group-addon Race
                        select.form-control(aria-describedby="race")
                            each race, i in races
                                option.btn(value=i) #{race}
                    div.input-group
                        span#gender.input-group-addon Gender
                        select.form-control(aria-describedby="gender")
                            each sex, i in genders
                                option(value=i) #{sex}
                    div.input-group
                        span#age.input-group-addon Age
                        input.form-control(type="number", min="16", max="50", step="1", value="25",aria-describedby="age")
                    div.input-group
                        span#name.input-group-addon Name
                        input.form-control(class="name", id="name", type="text", value="name",aria-describedby="name")
                div.page-header
                    h3 Attributes
                div.attribs
                    div.str.input-group
                        span#strength.input-group-addon Strength
                        input.form-control(class="attrib", id="str", type="number", min="1", max="10", step="1", value ="5",
                        aria-describedby="strength")
                    div.agi.input-group
                        span#agility.input-group-addon Agility
                        input.form-control(class="attrib", id="agi" type="number", min="1", max="10", step="1", value ="5",
                        aria-describedby="agility")
                    div.cnst.input-group
                        span#constitution.input-group-addon Constitution
                        input.form-control(class="attrib", id="con", type="number", min="1", max="10", step="1", value ="5",
                        aria-describedby="constitution")
                    div.int.input-group
                        span#intelligence.input-group-addon Intelligence
                        input.form-control(class="attrib", id="int", type="number", min="1", max="10", step="1", value ="5",
                        aria-describedby="intelligence")
                    div.char.input-group
                        span#charisma.input-group-addon Charisma
                        input.form-control(class="attrib", id="cha", type="number", min="1", max="10", step="1", value ="5",
                        aria-describedby="charisma")
                    div.points
                        p.pointsLeft Hallo
                        progress.progress(value = '50', max ='100')
                div.page-header
                    h3 Skills
                div.skills
                    div.weapons.row
                        div.col-md-3
                            input(type="checkbox", class="skillz" ,name="blades")
                            label Blades
                        div.col-md-3
                            input(type="checkbox", class="skillz", name="clubs")
                            label Clubs
                        div.col-md-3
                            input(type="Checkbox", class="skillz", name="spears")
                            label Spears
                        div.col-md-3
                            input(type="Checkbox", class="skillz", name="bows")
                            label Bows
                    div.crafting.row
                        div.col-md-3
                            input(type="checkbox", class="skillz", name="carpentry", id="test")
                            label Carpentry
                        div.col-md-3
                            input(type="checkbox", class="skillz", name="Cooking")
                            label Cooking
                        div.col-md-3
                            input(type="Checkbox", class="skillz", name="blacksmith")
                            label Blacksmithing
                        div.col-md-3
                            input(type="Checkbox", class="skillz", name="enchanting")
                            label Enchanting
                    div.social.row
                        div.col-md-3
                            input(type="checkbox", class="skillz", name="speech")
                            label Speech
                        div.col-md-3
                            input(type="checkbox", class="skillz", name="bartering")
                            label Bartering
                        div.col-md-3
                            input(type="Checkbox", class="skillz", name="intimidate")
                            label Intimidation
                        div.col-md-3
                            input(type="Checkbox", class="skillz", name="lying")
                            label Lying
                    div.intellectual.row
                        div.col-md-3
                            input(type="checkbox", class="skillz", name="spellcraft")
                            label Spellcraft
                        div.col-md-3
                            input(type="checkbox", class="skillz", name="research")
                            label Research
                        div.col-md-3
                            input(type="Checkbox", class="skillz", name="study")
                            label Study
                        div.col-md-3
                            input(type="Checkbox", class="skillz", name="math")
                            label Mathematics
                div.page-header
                button.btn.btn-default.btn-lg(type='button')
                    span.glyphicon.glyphicon-ok(aria-hidden='true')
                    |  Generate
            div.canvasdiv.col-md-4
                canvas#picture(width="256" height="320")
                    | Your browser does not support the HTML5 canvas tag.

    script(src='scripts/charGen.js')

    script(src='scripts/imagesPreload.js')
    script(src='scripts/sprite.js')
    script(src='scripts/picture.js')