extends layout


block content
	h1= title
	p Create your fantasy character!
  
	form(method='post', id="form")
		div.info
			span.label Race
			select
				each race, i in races
					option(value=i) #{race}
			span.label Gender
			select
				each sex, i in genders
					option(value=i) #{sex}
			span.label Age
			input(type="number", min="16", max="50", step="1", value="25")
			span.label Name
			input(class="name", id="name", type="text", value="Chara")
		div.attribs
			span.label Attributes
			div.str
				span.label Strength
				input(class="attrib", id="str", type="number", min="1", max="10", step="1", value ="5")
			div.agi
				span.label Agility
				input(class="attrib", id="agi" type="number", min="1", max="10", step="1", value ="5")
			div.cnst
				span.label Constitution
				input(class="attrib", id="con", type="number", min="1", max="10", step="1", value ="5")
			div.int
				span.label Intelligence
				input(class="attrib", id="int", type="number", min="1", max="10", step="1", value ="5")
			div.char
				span.label Charisma
				input(class="attrib", id="cha", type="number", min="1", max="10", step="1", value ="5")
			div.points
				p(class="pointsLeft")
				
		div.skills
			div.weapons
				input(type="checkbox", name="blades")
				label Blades
				input(type="checkbox", name="clubs") 
				label Clubs
				input(type="Checkbox", name="spears")
				label Spears
				input(type="Checkbox", name="bows")
				label Bows
			div.crafting
				input(type="checkbox", name="carpentry")
				label Carpentry
				input(type="checkbox", name="Cooking") 
				label Cooking
				input(type="Checkbox", name="blacksmith")
				label Blacksmithing
				input(type="Checkbox", name="enchanting")
				label Enchanting
			div.social
				input(type="checkbox", name="speech")
				label Speech
				input(type="checkbox", name="bartering") 
				label Bartering
				input(type="Checkbox", name="intimidate")
				label Intimidation
				input(type="Checkbox", name="lying")
				label Lying
			div.intellectual
				input(type="checkbox", name="spellcraft")
				label Spellcraft
				input(type="checkbox", name="research") 
				label Research
				input(type="Checkbox", name="study")
				label Study
				input(type="Checkbox", name="math")
				label Mathematics
		div: button Generate
		
		script(src='scripts/charGen.js')

	
	
  
  
